<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %>
    <main id="login">
        <h1>Ingresa a Tu Cuenta</h1>
        <hr>
        <form action="/usuario/ingresar" method="post" id="form-login">
            <i class="fas fa-user-alt"></i>
            <input type="text" name="user" id="user" class="formulario-login" placeholder="Nombre">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" id="email" class="formulario-login" placeholder="Email" value="<%= locals.errors != undefined && locals.errors.email != undefined ? locals.old.email : null%>">
            <% if (locals.errors != undefined && locals.errors.email) { %>
                <p>
                    <%= locals.errors.email %> 
                </p> 
            <% } %>
            <i class="fas fa-lock"></i>
            <input type="password" name="password" id="password" class="formulario-login-password" placeholder="Contraseña">
            <% if (locals.errors != undefined && locals.errors.password) { %>
             <p>
                <%= locals.errors.password %> 
             </p> 
            <% } %>
            <fieldset>
                <button type="button" id="view-password"><i class="fas fa-eye"></i></button>
            </fieldset>
            <section id="buttons-login">
                <button type="reset" class="button-login" id="button-delete"><i class="fas fa-trash"></i></button>
                <button type="submit" class="button-login" id="button-submit"><i class="fas fa-share-square"></i></button>
            </section>
        </form>
    </main>
    <%- include("../partials/footer")  %>
    <script src="/js/login.js"></script>
</body>
</html>